@layer clbr.components {
  :where(.clbr) {
    .badge {
      --clbr-badge-background-color: var(--clbr-color-background-subtle);
      --clbr-badge-border-color: var(--clbr-color-foreground-prose);
      --clbr-badge-font-size: var(--clbr-typography-type-step-100-font-size);
      --clbr-badge-line-height: var(
        --clbr-typography-type-step-100-line-height
      );
      --clbr-badge-padding-inline: 0.57em;

      align-items: center;
      background-color: var(--clbr-badge-background-color);
      border-radius: calc(1lh * var(--clbr-radius-ratio-lg));
      color: var(--clbr-color-foreground-prose);
      display: inline-flex;
      font-family: var(--clbr-typography-font-family-mono);
      font-size: var(--clbr-badge-font-size);
      font-weight: var(--clbr-typography-font-weight-regular-plus);
      line-height: var(--clbr-badge-line-height);
      inline-size: fit-content;
      outline: var(--clbr-layout-border-width-default) solid
        var(--clbr-badge-border-color);
      outline-offset: calc(0rem - var(--clbr-layout-border-width-default));
      padding-inline: var(--clbr-badge-padding-inline);

      :focus-visible > & {
        outline-color: var(--clbr-color-interactive-focus);
      }

      &[data-size="sm"] {
        --clbr-badge-font-size: var(--clbr-typography-type-step-50-font-size);
        --clbr-badge-line-height: var(
          --clbr-typography-type-step-50-line-height
        );
        --clbr-badge-padding-inline: 0.46em;
      }

      &[data-floating] {
        inset-block-start: 0;
        inset-inline-end: 0;
        position: absolute;
        transform: translate(33.33%, -33.33%);
      }

      &[data-tone="info"] {
        --clbr-badge-background-color: var(--clbr-color-status-info-subtle);
        --clbr-badge-border-color: var(--clbr-color-status-info-default);
      }

      &[data-tone="success"] {
        --clbr-badge-background-color: var(--clbr-color-status-success-subtle);
        --clbr-badge-border-color: var(--clbr-color-status-success-default);
      }

      &[data-tone="warning"] {
        --clbr-badge-background-color: var(--clbr-color-status-warning-subtle);
        --clbr-badge-border-color: var(--clbr-color-status-warning-default);
      }

      &[data-tone="error"] {
        --clbr-badge-background-color: var(--clbr-color-status-error-subtle);
        --clbr-badge-border-color: var(--clbr-color-status-error-default);
      }
    }

    a:has(> :where(.badge[data-floating]:last-child)),
    button:has(> :where(.badge[data-floating]:last-child)) {
      position: relative;
    }
  }
}
