@layer clbr.components {
  :where(.clbr) .stack {
    --clbr-stack-gap: var(--clbr-spacing-vertical-700);

    display: flex;
    flex-direction: column;
    gap: var(--clbr-stack-gap);
    list-style: none;
    margin-block: 0;
    padding-inline-start: 0;

    &[data-align="start"] {
      align-items: start;
    }

    &[data-align="center"] {
      align-items: center;
    }

    &[data-align="end"] {
      align-items: end;
    }

    &[data-gap="xs"] {
      --clbr-stack-gap: var(--clbr-spacing-vertical-400);
    }

    &[data-gap="none"] {
      --clbr-stack-gap: 0;
    }

    &[data-gap="sm"] {
      --clbr-stack-gap: var(--clbr-spacing-vertical-500);
    }

    &[data-gap="lg"] {
      --clbr-stack-gap: var(--clbr-spacing-vertical-800);
    }

    &[data-responsive] {
      --clbr-stack-gap: var(--clbr-layout-spacing-vertical-700);

      &[data-gap="xs"] {
        --clbr-stack-gap: var(--clbr-layout-spacing-vertical-400);
      }

      &[data-gap="none"] {
        --clbr-stack-gap: 0;
      }

      &[data-gap="sm"] {
        --clbr-stack-gap: var(--clbr-layout-spacing-vertical-500);
      }

      &[data-gap="lg"] {
        --clbr-stack-gap: var(--clbr-layout-spacing-vertical-800);
      }
    }
  }
}
