@layer clbr.components {
  :where(.clbr) .container {
    inline-size: 100%;
    margin-inline: auto;
    max-inline-size: var(--clbr-layout-container-max-width-default);
    padding-inline: var(--clbr-layout-container-gutter-default);

    &[data-max-width="wide"] {
      max-inline-size: var(--clbr-layout-container-max-width-wide);
    }

    &[data-max-width="none"] {
      max-inline-size: none;
    }

    &[data-gutter="none"] {
      padding-inline: 0;
    }

    &[data-gutter="narrow"] {
      padding-inline: var(--clbr-layout-container-gutter-narrow);
    }
  }
}
