@layer clbr.components {
  :where(.clbr) .image {
    inline-size: fit-content;
    overflow: hidden;

    &[data-shadow] {
      box-shadow: var(--clbr-effect-shadow-default);
    }

    &[data-radius="xs"] {
      border-radius: var(--clbr-radius-xs);
    }

    &[data-radius="ratio"] {
      --clbr-image-size: min(
        var(--clbr-image-block-size),
        var(--clbr-image-inline-size)
      );
      --clbr-image-radius-ratio: calc(
        var(--clbr-image-size) * var(--clbr-radius-ratio-default)
      );

      &[data-object-fit="cover"] {
        &[data-aspect-ratio="1:1"] {
          --clbr-image-size: var(
            --clbr-image-inline-size,
            var(--clbr-image-block-size)
          );
        }

        &[data-aspect-ratio="4:5"] {
          --clbr-image-size: var(--clbr-image-inline-size);
        }

        &[data-aspect-ratio="3:2"],
        &[data-aspect-ratio="16:9"],
        &[data-aspect-ratio="21:9"] {
          --clbr-image-size: var(--clbr-image-block-size);
        }
      }

      border-radius: var(--clbr-image-radius-ratio, var(--clbr-radius-xs));
    }

    &[data-object-fit="cover"] {
      block-size: var(--clbr-image-block-size, auto);
      inline-size: var(--clbr-image-inline-size, auto);
      max-inline-size: 100%;

      &[data-aspect-ratio="1:1"] {
        aspect-ratio: 1 / 1;
      }

      &[data-aspect-ratio="4:5"] {
        aspect-ratio: 4 / 5;
      }

      &[data-aspect-ratio="3:2"] {
        aspect-ratio: 3 / 2;
      }

      &[data-aspect-ratio="16:9"] {
        aspect-ratio: 16 / 9;
      }

      &[data-aspect-ratio="21:9"] {
        aspect-ratio: 21 / 9;
      }
    }

    .img {
      [data-object-fit="cover"] & {
        block-size: 100%;
        inline-size: 100%;
        object-fit: cover;
      }

      [data-object-position="top"] & {
        object-position: center top;
      }

      [data-object-position="right"] & {
        object-position: right center;
      }

      [data-object-position="bottom"] & {
        object-position: center bottom;
      }

      [data-object-position="left"] & {
        object-position: left center;
      }
    }
  }
}
