@layer clbr.components {
  :where(.clbr) .clbr-input {
    --clbr-input-block-size: var(--clbr-spacing-vertical-800);

    display: flex;
    flex-direction: column;
    gap: var(--clbr-spacing-vertical-250);

    &[data-size="sm"] {
      --clbr-input-block-size: var(--clbr-spacing-vertical-775);
    }

    &[data-inline-size="fit"] {
      inline-size: fit-content;

      .input {
        inline-size: auto;
      }
    }

    .label {
      color: var(--clbr-color-interactive-neutral-default);
      cursor: pointer;
      font-size: var(--clbr-typography-type-step-100-font-size);
      line-height: var(--clbr-typography-type-step-100-line-height);
      margin-inline-start: var(--clbr-spacing-horizontal-400);
    }

    .input {
      appearance: none;
      background-color: var(--clbr-color-background-panel);
      border: var(--clbr-layout-border-width-default) solid
        var(--clbr-color-interactive-neutral-default);
      border-radius: calc(
        var(--clbr-input-block-size) * var(--clbr-radius-ratio-default)
      );
      box-shadow: var(--clbr-effect-shadow-default);
      color: var(--clbr-color-foreground-default);
      padding-block: calc(
        var(--clbr-spacing-vertical-400) -
          var(--clbr-layout-border-width-default)
      );
      padding-inline: calc(
        var(--clbr-spacing-horizontal-400) -
          var(--clbr-layout-border-width-default)
      );
      inline-size: 100%;

      &:focus-visible {
        border-radius: calc(
          (
              var(--clbr-input-block-size) +
                var(--clbr-layout-focus-ring-outset)
            ) *
            var(--clbr-radius-ratio-default)
        );
      }

      &[aria-invalid="true"] {
        background-color: var(--clbr-color-status-error-subtle);
        border-color: var(--clbr-color-status-error-default);
      }

      &[readonly] {
        background-color: var(--clbr-color-background-panel);
        border-color: var(--clbr-color-background-subtle);
        box-shadow: none;
        cursor: default;
      }

      &[disabled] {
        background-color: var(--clbr-color-background-subtle);
        border-color: var(--clbr-color-border-subtle);
        box-shadow: none;
        color: var(--clbr-color-foreground-muted-text);
        cursor: not-allowed;
      }

      .clbr-input[data-size="sm"] & {
        padding-block: var(--clbr-spacing-vertical-200);
      }
    }

    .description {
      color: var(--clbr-color-foreground-muted-text);
      font-size: var(--clbr-typography-type-step-100-font-size);
      line-height: var(--clbr-typography-type-step-100-line-height);
      margin-block: 0;
      margin-inline: var(--clbr-spacing-horizontal-400);
      max-width: var(--clbr-typography-measure-default);

      .input[aria-invalid="true"] + & {
        color: var(--clbr-color-status-error-default);
      }
    }
  }
}
