@layer clbr.components {
  :where(.clbr) .clbr-page {
    --clbr-page-header-block-size: var(--clbr-spacing-vertical-950);

    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto 1fr auto;
    min-block-size: 100dvb;

    &[data-header-size="sm"] {
      --clbr-page-header-block-size: var(--clbr-spacing-vertical-900);
    }

    &[data-header-size="lg"] {
      --clbr-page-header-block-size: var(--clbr-spacing-vertical-1000);
    }

    @media (width >= 48em) {
      &[data-header-size="lg"] {
        --clbr-page-header-block-size: var(--clbr-spacing-vertical-1100);
      }
    }

    #storybook-docs & {
      min-block-size: auto;
    }

    &:has(> .clbr-banner) {
      grid-template-rows: max-content auto 1fr auto;
    }

    @media (width >= 68em) {
      &:has(> .header clbr-sidebar[data-above-notebook="persistent"]) > .main,
      &:has(> .header clbr-sidebar[data-above-notebook="persistent"]) > .footer,
      &:has(> .header clbr-sidebar[data-above-notebook="collapsible"]) > .main,
      &:has(> .header clbr-sidebar[data-above-notebook="collapsible"])
        > .footer {
        margin-inline-start: var(--clbr-breakpoint-baseline);
      }

      &:has(> .header clbr-sidebar[data-collapsed]) > .main,
      &:has(> .header clbr-sidebar[data-collapsed]) > .footer {
        margin-inline-start: var(--clbr-spacing-horizontal-900);
      }
    }

    .header {
      min-block-size: var(--clbr-page-header-block-size);
      position: relative;
      z-index: 1;

      .clbr-page[data-sticky-header="always"] > &,
      .clbr-page[data-sticky-header="belowNotebook"] > & {
        inset-block-start: 0;
        position: sticky;

        &::after {
          background-color: var(--clbr-color-border-subtle);
          block-size: var(--clbr-layout-border-width-default);
          content: "";
          inset-block-end: 0;
          inset-inline: 0;
          position: absolute;
        }

        /* @supports (container-type: scroll-state) {
          container-type: scroll-state;

          &::after {
            opacity: 0;
            transition: opacity var(--clbr-motion-duration-100)
              var(--clbr-motion-easing-ease-out);

            @container scroll-state(stuck: block-start) {
              opacity: 1;
            }
          }
        } */
      }

      .clbr-page[data-sticky-header="belowNotebook"] > & {
        @media (width >= 64em) {
          position: relative;
        }
      }
    }

    &[data-center-main] .main {
      margin-block: auto;
      position: relative;
    }
  }
}
