@layer clbr.components {
  :where(.clbr) .clbr-page {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto 1fr auto;
    min-block-size: 100dvb;

    #storybook-docs & {
      min-block-size: auto;
    }

    &:has(> .clbr-banner) {
      grid-template-rows: max-content auto 1fr auto;
    }

    @media (min-width: 68em) {
      &:has(> .header clbr-sidebar[data-above-notebook="persistent"]),
      &:has(> .header clbr-sidebar[data-above-notebook="collapsible"]) {
        margin-inline-start: var(--clbr-breakpoint-baseline);
      }

      &:has(> .header clbr-sidebar[data-collapsed]) {
        margin-inline-start: var(--clbr-spacing-horizontal-900);
      }
    }

    .header {
      position: relative;
      z-index: 1;

      .clbr-page[data-sticky-header="always"] > &,
      .clbr-page[data-sticky-header="belowNotebook"] > & {
        inset-block-start: 0;
        position: sticky;

        &::after {
          background-color: var(--clbr-color-border-subtle);
          block-size: var(--clbr-layout-border-width-default);
          content: "";
          inset-block-end: 0;
          inset-inline: 0;
          position: absolute;
        }
      }

      .clbr-page[data-sticky-header="belowNotebook"] > & {
        @media (min-width: 64em) {
          position: relative;
        }
      }
    }

    &[data-center-main] .main {
      position: relative;
      margin-block: auto;
    }
  }
}
