@layer clbr.components {
  :where(.clbr) .button {
    --clbr-button-block-size: var(--clbr-spacing-vertical-800);
    align-items: center;
    background-color: var(--clbr-color-background-panel);
    border: var(--clbr-layout-border-width-default) solid
      var(--clbr-color-interactive-default);
    border-radius: calc(
      var(--clbr-button-block-size) * var(--clbr-radius-ratio-default)
    );
    box-shadow: var(--clbr-effect-shadow-default);
    color: var(--clbr-color-interactive-neutral-default);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--clbr-typography-font-family-default);
    font-size: var(--clbr-typography-type-step-200-font-size);
    gap: var(--clbr-spacing-horizontal-400);
    line-height: var(--clbr-typography-type-step-200-line-height);
    padding-block: calc(
      var(--clbr-spacing-vertical-400) - var(--clbr-layout-border-width-default)
    );
    padding-inline: calc(
      var(--clbr-spacing-horizontal-600) -
        var(--clbr-layout-border-width-default)
    );
    vertical-align: middle;

    &:focus-visible {
      border-radius: calc(
        (var(--clbr-button-block-size) + var(--clbr-layout-focus-ring-outset)) *
          var(--clbr-radius-ratio-default)
      );
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--clbr-color-interactive-neutral-hover);
      }
    }

    &:active {
      box-shadow: none;
      color: var(--clbr-color-interactive-neutral-active);
    }

    & .icon-wrapper {
      block-size: var(--clbr-layout-icon-size-xs);
      display: flex;
      margin-inline: calc(
        var(--clbr-layout-icon-size-xs) *
          var(--clbr-layout-icon-viewbox-outset-ratio)
      );
    }

    &[data-size="sm"] {
      --clbr-button-block-size: var(--clbr-spacing-vertical-775);
      font-size: var(--clbr-typography-type-step-100-font-size);
      line-height: var(--clbr-typography-type-step-100-line-height);
      padding-block: calc(
        var(--clbr-spacing-vertical-250) -
          var(--clbr-layout-border-width-default)
      );
      padding-inline: calc(
        var(--clbr-spacing-horizontal-600) -
          var(--clbr-layout-border-width-default)
      );

      & .icon-wrapper {
        block-size: var(--clbr-layout-icon-size-2xs);
        margin-inline: calc(
          var(--clbr-layout-icon-size-2xs) *
            var(--clbr-layout-icon-viewbox-outset-ratio)
        );
      }
    }

    &[data-size="lg"] {
      --clbr-button-block-size: var(--clbr-spacing-vertical-900);
      padding-block: calc(
        var(--clbr-spacing-vertical-500) -
          var(--clbr-layout-border-width-default)
      );
      padding-inline: calc(
        var(--clbr-spacing-horizontal-700) -
          var(--clbr-layout-border-width-default)
      );
    }

    &[data-tone="neutral"] {
      border-color: var(--clbr-color-border-default);
      box-shadow: none;
    }

    &[data-appearance="solid"] {
      background-color: var(--clbr-color-interactive-default);
      border-color: var(--clbr-color-interactive-default);
      color: var(--clbr-color-foreground-contrast);

      @media (any-hover: hover) {
        &:hover {
          background-color: var(--clbr-color-interactive-hover);
          border-color: var(--clbr-color-interactive-hover);
        }
      }

      &:active {
        background-color: var(--clbr-color-interactive-active);
        border-color: var(--clbr-color-interactive-active);
      }
    }

    &[data-appearance="solid"][data-tone="neutral"] {
      background-color: var(--clbr-color-interactive-neutral-default);
      border-color: var(--clbr-color-interactive-neutral-default);

      @media (any-hover: hover) {
        &:hover {
          background-color: var(--clbr-color-interactive-neutral-hover);
          border-color: var(--clbr-color-interactive-neutral-hover);
        }
      }

      &:active {
        background-color: var(--clbr-color-interactive-neutral-active);
        border-color: var(--clbr-color-interactive-neutral-active);
      }
    }

    &[data-label-visibility="hidden"] {
      padding: calc(
        var(--clbr-spacing-vertical-400) -
          var(--clbr-layout-border-width-default)
      );

      & .icon-wrapper {
        block-size: var(--clbr-layout-icon-size-default);
        margin: 0;
      }

      &[data-size="sm"] {
        padding-block: calc(var(--clbr-spacing-vertical-300));
        padding-inline: calc(var(--clbr-spacing-horizontal-300));

        & .icon-wrapper {
          block-size: var(--clbr-layout-icon-size-sm);
        }
      }

      &[data-size="lg"] {
        --clbr-button-block-size: var(--clbr-spacing-vertical-800);
      }

      .label {
        block-size: 1px;
        border: none;
        clip-path: inset(50%);
        inline-size: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
      }
    }

    &[data-label-visibility="hiddenBelowTablet"] {
      @media (width < 48rem) {
        padding: calc(
          var(--clbr-spacing-vertical-400) -
            var(--clbr-layout-border-width-default)
        );

        & .icon-wrapper {
          block-size: var(--clbr-layout-icon-size-default);
          margin: 0;
        }

        &[data-size="sm"] {
          padding-block: calc(var(--clbr-spacing-vertical-300));
          padding-inline: calc(var(--clbr-spacing-horizontal-300));

          & .icon-wrapper {
            block-size: var(--clbr-layout-icon-size-sm);
          }
        }

        &[data-size="lg"] {
          --clbr-button-block-size: var(--clbr-spacing-vertical-800);
        }

        .label {
          block-size: 1px;
          border: none;
          clip-path: inset(50%);
          inline-size: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          white-space: nowrap;
        }
      }
    }

    &[data-appearance="text"] {
      --clbr-button-block-size: var(--clbr-spacing-vertical-700);
      background-color: transparent;
      border: none;
      box-shadow: none;
      color: var(--clbr-color-interactive-default);
      padding: 0;

      @media (any-hover: hover) {
        &:hover {
          background-color: transparent;
          border: none;
          color: var(--clbr-color-interactive-hover);
        }
      }

      &:active {
        background-color: transparent;
        border: none;
        color: var(--clbr-color-interactive-active);
      }

      &[data-label-visibility="hidden"] {
        --clbr-button-block-size: var(--clbr-spacing-vertical-800);
        background-color: color-mix(
          in srgb,
          var(--clbr-color-background-inverse) 04%,
          transparent
        );
        padding: var(--clbr-spacing-vertical-250);
      }

      &[data-label-visibility="hidden"][data-size="sm"] {
        --clbr-button-block-size: var(--clbr-spacing-vertical-700);
        padding: var(--clbr-spacing-vertical-200);
      }

      @media (width < 48rem) {
        &[data-label-visibility="hiddenBelowTablet"] {
          --clbr-button-block-size: var(--clbr-spacing-vertical-800);
          background-color: color-mix(
            in srgb,
            var(--clbr-color-background-inverse) 04%,
            transparent
          );
          padding: var(--clbr-spacing-vertical-250);
        }

        &[data-label-visibility="hiddenBelowTablet"][data-size="sm"] {
          --clbr-button-block-size: var(--clbr-spacing-vertical-700);
          padding: var(--clbr-spacing-vertical-200);
        }
      }
    }

    &[data-appearance="text"][data-tone="neutral"] {
      color: var(--clbr-color-interactive-neutral-default);

      @media (any-hover: hover) {
        &:hover {
          color: var(--clbr-color-interactive-neutral-hover);
        }
      }

      &:active {
        color: var(--clbr-color-interactive-neutral-active);
      }
    }

    &[disabled],
    &[disabled][data-tone="neutral"] {
      border-color: var(--clbr-color-border-subtle);
      color: var(--clbr-color-foreground-muted-text);
      cursor: not-allowed;
      box-shadow: none;
    }

    &[disabled][data-appearance="solid"],
    &[disabled][data-appearance="solid"][data-tone="neutral"] {
      background-color: var(--clbr-color-background-subtle);
      border-color: var(--clbr-color-border-subtle);
    }

    &[disabled][data-appearance="text"],
    &[disabled][data-appearance="text"][data-tone="neutral"] {
      background: none;
      color: var(--clbr-color-foreground-muted-text);
    }
  }
}
