@layer clbr.components {
  :where(.clbr) .poster {
    background-color: var(--clbr-color-background-default);
    color: var(--clbr-color-foreground-default);
    isolation: isolate;
    overflow: clip;
    position: relative;

    .image-wrapper {
      inset: 0;
      position: absolute;
      z-index: -1;
    }

    .content {
      block-size: 100%;
      position: relative;
    }
  }
}
