@layer clbr.components {
  :where(.clbr) .clbr-alert {
    --clbr-alert-color-background: var(--clbr-color-background-subtle);
    --clbr-alert-color-border: var(--clbr-color-foreground-prose);

    background-color: var(--clbr-alert-color-background);
    border-radius: var(--clbr-radius-md);
    box-shadow: var(--clbr-effect-shadow-default);
    color: var(--clbr-color-foreground-prose);
    column-gap: var(--clbr-spacing-horizontal-400);
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr);
    outline: var(--clbr-layout-border-width-default) solid
      var(--clbr-alert-color-border);
    outline-offset: calc(0rem - var(--clbr-layout-border-width-default));
    padding-block: var(--clbr-spacing-vertical-500);
    padding-inline-end: var(--clbr-spacing-horizontal-700);
    padding-inline-start: var(--clbr-spacing-horizontal-600);
    row-gap: var(--clbr-spacing-vertical-400);

    &:has(.title) {
      padding-block-end: var(--clbr-spacing-vertical-600);
    }

    &:has([data-part="close"]) {
      padding-inline-end: var(--clbr-spacing-horizontal-600);
    }

    &[data-dismissible] {
      grid-template-columns: max-content minmax(0, 1fr) max-content;
    }

    &[data-inline-size="fit"] {
      inline-size: fit-content;
    }

    &[data-size="sm"] {
      font-size: var(--clbr-typography-type-step-150-font-size);
      line-height: var(--clbr-typography-type-step-150-line-height);
      padding-block: var(--clbr-spacing-vertical-400);
      padding-inline-end: var(--clbr-spacing-horizontal-600);
      padding-inline-start: var(--clbr-spacing-horizontal-500);

      &:has(.title) {
        padding-block-end: var(--clbr-spacing-vertical-500);
      }

      > .icon-wrapper {
        margin-inline: calc(
          var(--clbr-layout-icon-size-sm) *
            var(--clbr-layout-icon-viewbox-outset-ratio)
        );
      }
    }

    &[data-tone="info"] {
      --clbr-alert-color-background: var(--clbr-color-status-info-subtle);
      --clbr-alert-color-border: var(--clbr-color-status-info-default);
    }

    &[data-tone="success"] {
      --clbr-alert-color-background: var(--clbr-color-status-success-subtle);
      --clbr-alert-color-border: var(--clbr-color-status-success-default);
    }

    &[data-tone="warning"] {
      --clbr-alert-color-background: var(--clbr-color-status-warning-subtle);
      --clbr-alert-color-border: var(--clbr-color-status-warning-default);
    }

    &[data-tone="error"] {
      --clbr-alert-color-background: var(--clbr-color-status-error-subtle);
      --clbr-alert-color-border: var(--clbr-color-status-error-default);
    }

    > .icon-wrapper {
      align-self: start;
      margin-inline: calc(
        var(--clbr-layout-icon-size-md) *
          var(--clbr-layout-icon-viewbox-outset-ratio)
      );
    }

    .content {
      max-inline-size: var(--clbr-typography-measure-tight);
    }

    .title {
      --clbr-alert-title-font: var(--clbr-typography-text-heading-sm);

      font: var(--clbr-alert-title-font);
      font-feature-settings: "ss03" 1;
      font-optical-sizing: none;
      margin-block-end: var(--clbr-spacing-vertical-250);
      margin-block-start: 0;

      .clbr-alert[data-size="sm"] & {
        margin-block-end: 0;
        margin-block-start: var(--clbr-spacing-vertical-200);
        --clbr-alert-title-font: var(--clbr-typography-text-heading-xs);
      }
    }

    .message {
      margin-block-end: 0;
      margin-block-start: var(--clbr-spacing-vertical-100);
    }

    [data-part="close"] {
      align-self: start;
      margin-inline-end: calc(0rem - var(--clbr-spacing-horizontal-300));
    }
  }
}
