@layer clbr.components {
  :where(.clbr) .clbr-heading {
    --clbr-heading-font: var(--clbr-typography-text-heading-md);
    color: var(--clbr-color-foreground-default);
    display: block;
    font: var(--clbr-heading-font);
    font-feature-settings: "ss03" 1;
    font-optical-sizing: none;
    margin: 0;
    text-wrap: balance;

    &[data-optical-inline] {
      margin-inline: -0.1em;
    }

    &[data-size="xs"] {
      --clbr-heading-font: var(--clbr-typography-text-heading-xs);
    }

    &[data-size="sm"] {
      --clbr-heading-font: var(--clbr-typography-text-heading-sm);
    }

    &[data-size="lg"] {
      --clbr-heading-font: var(--clbr-typography-text-heading-lg);
    }

    &[data-size="xl"] {
      --clbr-heading-font: var(--clbr-typography-text-heading-xl);
    }

    &[data-size="2xl"] {
      --clbr-heading-font: var(--clbr-typography-text-heading-2xl);
    }

    &[data-size="3xl"] {
      --clbr-heading-font: var(--clbr-typography-text-heading-3xl);
    }

    &[data-size="4xl"] {
      --clbr-heading-font: var(--clbr-typography-text-heading-4xl);
    }

    &[data-size="5xl"] {
      --clbr-heading-font: var(--clbr-typography-text-heading-5xl);
    }

    &[data-align="center"] {
      text-align: center;
    }

    &[data-align="end"] {
      text-align: end;
    }

    &[data-responsive] {
      --clbr-heading-font: var(--clbr-typography-text-heading-responsive-md);

      &[data-size="xs"] {
        --clbr-heading-font: var(--clbr-typography-text-heading-responsive-xs);
      }

      &[data-size="sm"] {
        --clbr-heading-font: var(--clbr-typography-text-heading-responsive-sm);
      }

      &[data-size="lg"] {
        --clbr-heading-font: var(--clbr-typography-text-heading-responsive-lg);
      }

      &[data-size="xl"] {
        --clbr-heading-font: var(--clbr-typography-text-heading-responsive-xl);
      }

      &[data-size="2xl"] {
        --clbr-heading-font: var(--clbr-typography-text-heading-responsive-2xl);
      }

      &[data-size="3xl"] {
        --clbr-heading-font: var(--clbr-typography-text-heading-responsive-3xl);
      }

      &[data-size="4xl"] {
        --clbr-heading-font: var(--clbr-typography-text-heading-responsive-4xl);
      }

      &[data-size="5xl"] {
        --clbr-heading-font: var(--clbr-typography-text-heading-responsive-5xl);
      }
    }
  }
}
